<div class="page-header">
  <h1>List of CIMPA RESEARCH SCHOOL PROPOSALS</h1>
</div>
  <h3>Proposal without Evaluators</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                    <th><%= t('.acronym') %></th>
                  <th><%= t('.user') %></th>
                  <th><%= t('.id') %></th>
                  <th><%= t('.research_school_title') %></th>
                  <th><%= t('.region') %></th>
                  <th><%= t('.school_country') %></th>
                  <th><%= t('.school_place') %></th>
                </tr>
              </thead>
              <tbody>
              <% @presentations_without_evaluator.each do |presentation| %>
                <tr>
                    <td><%= presentation.acronym %></td>
                  <td><%= presentation.user.email %></td>
                  <td><%= presentation.id %></td>
                  <td><%= presentation.research_school_title %></td>
                  <td><%= presentation.country.try(:region) %></td>
                  <td><%= presentation.country.try(:name_en) %></td>
                  <td><%= presentation.school_place %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
<br/>
<br/>
  <h3>Proposal with Evaluators</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                    <th><%= t('.acronym') %></th>
                  <th><%= t('.user') %></th>
                  <th><%= t('.id') %></th>
                  <th><%= t('.research_school_title') %></th>
                  <th><%= t('.region') %></th>
                  <th><%= t('.school_country') %></th>
                  <th><%= t('.school_place') %></th>
                  <th><%= t('.evaluator1') %></th>
                  <th><%= t('.evaluator2') %></th>
                </tr>
              </thead>
              <tbody>
              <% @presentations_with_evaluator.each do |presentation| %>
                <tr>
                    <td><%= presentation.acronym %></td>
                  <td><%= presentation.user.email %></td>
                  <td><%= presentation.id %></td>
                  <td><%= presentation.research_school_title %></td>
                  <td><%= presentation.country.try(:region) %></td>
                  <td><%= presentation.country.try(:name_en) %></td>
                  <td><%= presentation.school_place %></td>
                  <td><%= presentation.evaluator1.email %></td>
                  <td><%= presentation.evaluator2.email %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
  </div>
</div>
