<div class="content-fluid">
  <%= render "shared/error_messages_presentation", :target => @presentation %>  
  <div class="alert alert-error">
    <p><%= t('.please_read_html') %></p>
  </div>
  <div class="alert alert-success">
    <p><%= t('.deadlines_html') %></p>
  </div>
  <div class="well">
    <h3><%= t('.notice_text') %></h3>
    <p><%= t('.notice_html') %></p>
  </div>
  <%= form_for @presentation, :html => { :class => 'hand_writer well' } do |f| %>
    <h2><%= t('.proposal') %></h2>
    <hr>
    <div class="control-group">
      <%= f.label :similar_project, t('.similar_project_html'), :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :similar_project %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :completely_read, t('.completely_read_html'), :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :completely_read %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :research_school_title, t('.research_school_title_html'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :research_school_title, :class => 'input-xxlarge' %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :project_type, t('.project_type'), :class => 'control-label' %>
      <div class="controls">
        <%= f.select :project_type, Presentation.project_type.values.map {|data| [t("enumerize.presentation.#{data}"),data]}, {:prompt => true}, {:class => 'combobox'} %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :subject_clasification, t('.subject_clasification_html'), :class => 'control-label' %>
      <div class="controls">
        <%= f.select :subject_clasification, Presentation.subject_clasification.values.map {|data| [t("msc.#{data}"),data]}, {:prompt => true}, {:class => 'combobox'} %>
      </div>
    </div>
    <hr>
    <p><h6><%= t('.school_place_html') %></h6></p>
    <div class="row-fluid" span 8>
      <div class="control-group">
        <%= f.label :school_place, t('.school_place_text'), :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :school_place, :class => 'input-xxlarge' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :school_country, t('.school_country_text'), :class => 'control-label' %>
        <div class="controls">
          <%= f.select :school_country, Presentation.school_country.values.map {|data| [data,data]}, {:prompt => true}, {:class => 'combobox'} %>
        </div>
      </div>
    <div>
    <div class="row-fluid">
      <div class="alert alert-info span6">
        <div class="control-group">
          <%= f.label t('.school_date_a_start'), :class => 'control-label' %>
          <div class="controls input-append date datepicker_future">
            <%= f.text_field :school_date_a_start,
              :value => (f.object.school_date_a_start ? f.object.school_date_a_start : Date.today + 2.years).strftime('%d-%m-%Y'),
              :readonly => true, 
              :class => 'text_field input-small' %>
            <span class="add-on">
              <i class="icon-calendar"></i>
            </span>
          </div>
        </div>
        <div class="control-group">
          <%= f.label t('.school_date_a_finish'), :class => 'control-label' %>
          <div class="controls input-append date datepicker_future">
            <%= f.text_field :school_date_a_finish, 
              :value => (f.object.school_date_a_finish ? f.object.school_date_a_finish : Date.today + 2.years + 2.weeks).strftime('%d-%m-%Y'),
              :readonly => true, 
              :class => 'text_field input-small' %>
            <span class="add-on">
              <i class="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="alert alert-info span6">
        <div class="control-group">
          <%= f.label t('.school_date_b_start'), :class => 'control-label' %>
          <div class="controls input-append date datepicker_future">
            <%= f.text_field :school_date_b_start,
              :value => (f.object.school_date_b_start ? f.object.school_date_b_start : Date.today + 2.years).strftime('%d-%m-%Y'),
              :readonly => true, 
              :class => 'text_field input-small' %>
            <span class="add-on">
              <i class="icon-calendar"></i>
            </span>
          </div>
        </div>
        <div class="control-group">
          <%= f.label t('.school_date_b_finish'), :class => 'control-label' %>
          <div class="controls input-append date datepicker_future">
            <%= f.text_field :school_date_b_finish,
              :value => (f.object.school_date_b_finish ? f.object.school_date_b_finish : Date.today + 2.years + 2.weeks).strftime('%d-%m-%Y'),
              :readonly => true, 
              :class => 'text_field input-small' %>
            <span class="add-on">
              <i class="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>
    </div>  
    <hr>
    <p>
      <%= t('.responsables_html') %>
    </p>
    <div class="row-fluid">
      <div class="alert alert-info span6">
        <h5><%= t '.local_coordinator' %></h5>
        <div class="control-group">
          <%= f.label :administration_name, t('.administration_name'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :administration_name %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :administration_place, t('.administration_place'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :administration_place %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :administration_country, t('.administration_country'), :class => 'control-label' %>
          <div class="controls">
            <%= f.select :administration_country, Presentation.administration_country.values.map {|data| [data,data]}, {:prompt => true}, {:class => 'combobox'} %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :administration_email, t('.administration_email'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :administration_email %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :administration_phone, t('.administration_phone'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :administration_phone %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :administration_cv, t('.administration_cv'), :class => 'control-label' %>
          <div class="controls">
            <%= f.file_field :administration_cv, :class => 'filestyle' %>
            <% if f.object.administration_cv.present? %>
              <%= link_to t('download'), download_administration_cv_path(f.object.id), :class => 'btn' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="alert alert-info span6">
        <h5><%= t '.foreign_coordinator' %></h5>
        <div class="control-group">
          <%= f.label :scientific_name, t('.scientific_name'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :scientific_name %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :scientific_place, t('.scientific_place'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :scientific_place%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :scientific_country, t('.scientific_country'), :class => 'control-label' %>
          <div class="controls">
            <%= f.select :scientific_country, Presentation.scientific_country.values.map {|data| [data,data]}, {:prompt => true}, {:class => 'combobox'} %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :scientific_email, t('.scientific_email'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :scientific_email %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :scientific_phone, t('.scientific_phone'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :scientific_phone %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :scientific_cv, t('.scientific_cv'), :class => 'control-label' %>
          <div class="controls">
            <%= f.file_field :scientific_cv, :class => 'filestyle' %>
            <% if f.object.scientific_cv.present? %>
              <%= link_to t('download'), download_scientific_cv_path(f.object.id), :class => 'btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :scientific_content, t('.scientific_content_html'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :scientific_content, :class => 'span12 text_area' %>
      </div>
    </div>
    <hr>
    <p><blockquote><h5><%= t('.balance_woman') %></h5></blockquote></p>
    <hr>
    <div class="control-group">
      <%= f.label :members_of_scientific_committee, t('.members_of_scientific_committee_html'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :members_of_scientific_committee, :class => 'span12 text_area' %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :members_of_local_committee, t('.members_of_local_committee'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :members_of_local_committee, :class => 'span12 text_area' %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :local_institution_description, t('.local_institution_description'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :local_institution_description, :class => 'span12 text_area' %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :motivation, t('.motivation_html'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :motivation , :class => 'span12 text_area'%>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :related_scientific_work, t('.related_scientific_work'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :related_scientific_work, :class => 'span12 text_area' %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :infrastructure, t('.infrastructure'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :infrastructure, :class => 'span12 text_area' %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :courses, t('.courses_html'), :class => 'control-label' %>
      <div class="controls">
        <div class="row-fluid">
          <div class="span1">
            <%= f.label :courses, t('.course1'), :class => 'control-label' %>
          </div>
          <div class="span11">
            <%= f.text_area :course1, :class => 'span12 text_area' %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span1">
            <%= f.label :courses, t('.course2'), :class => 'control-label' %>
          </div>
          <div class="span11">
            <%= f.text_area :course2, :class => 'span12 text_area' %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span1">
            <%= f.label :courses, t('.course3'), :class => 'control-label' %>
          </div>
          <div class="span11">
            <%= f.text_area :course3, :class => 'span12 text_area' %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span1">
            <%= f.label :courses, t('.course4'), :class => 'control-label' %>
          </div>
          <div class="span11">
            <%= f.text_area :course4, :class => 'span12 text_area' %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span1">
            <%= f.label :courses, t('.course5'), :class => 'control-label' %>
          </div>
          <div class="span11">
            <%= f.text_area :course5, :class => 'span12 text_area' %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span1">
            <%= f.label :courses, t('.course6'), :class => 'control-label' %>
          </div>
          <div class="span11">
            <%= f.text_area :course6, :class => 'span12 text_area' %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <%= f.label :tentative_schedule, t('.tentative_schedule_html'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :tentative_schedule, :class => 'span12 text_area' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tentative_shedule_file, t('.tentative_schedule_file'), :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :tentative_schedule_file, :class => 'filestyle' %>
        <% if f.object.tentative_schedule_file.present? %>
          <%= link_to t('download'), download_tentative_schedule_file_path(f.object.id), :class => 'btn' %>
        <% end %>
      </div>
    </div>

    <hr>

    <div id="provisional_budget" class="row-fluid">
      <div >
        <fieldset class="provisional_budget">
          <legend class="no-margin-bottom"><%= t('.provisional_budget')%></legend>
          <table class="table table-striped well table-condensed">
            <thead>
              <tr>
                <th class="span5"><%= t('.provisional_description') %></th>
                <th class="span2"><%= t('.currency') %></th>
                <th class="span2"><%= t('.provisional_amount') %></th>
                <th class="span2"><%= t('.provisional_type') %></th>
                <th class="span2"><%= t('actions') %></th>
              </tr>
            </thead>
          </table>
          <%= f.fields_for :provisional_budgets do |exp| %>
            <%= render 'provisional_budget_fields', :f => exp %>
          <% end %>
        </fieldset>
      </div>
      <div class="links">
        <%= link_to_add_association t('.add_provisional_budget'), f, :provisional_budgets, :class => 'btn'%> 
      </div>
    </div>
    <hr>
    <div id="anticipated_funding" class="row-fluid">
      <div >
        <fieldset class="anticipated_funding">
          <legend class="no-margin-bottom"><%= t('.anticipated_funding')%></legend>
          <table class="table table-striped well table-condensed">
            <thead>
              <tr>
                <th class="span5"><%= t('.anticipated_description') %></th>
                <th class="span2"><%= t('.currency') %></th>
                <th class="span2"><%= t('.anticipated_amount') %></th>
                <th class="span2"><%= t('.anticipated_type') %></th>
                <th class="span2"><%= t('actions') %></th>
              </tr>
            </thead>
          </table>
          <%= f.fields_for :anticipated_fundings do |exp| %>
            <%= render 'anticipated_funding_fields', :f => exp %>
          <% end %>
        </fieldset>
      </div>
      <div class="links">
        <%= link_to_add_association t('.add_anticipated_funding'), f, :anticipated_fundings, :class => 'btn'%> 
      </div>
    </div>
    <hr>
    <fieldset class="row-fluid">
      <legend><%= raw t '.sumary_point' %></legend>
      <p><h6><%= t('.women_percentage_text') %></h6></p>
      <div class="row-fluid">
        <div class="control-group span3">
          <%= f.label :women_percentage_scientific,t('.women_percentage_scientific'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :women_percentage_scientific, :class => 'input-small' %>
          </div>
        </div>
        <div class="control-group span3">
          <%= f.label :women_percentage_local,t('.women_percentage_local'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :women_percentage_local, :class => 'input-small' %>
          </div>
        </div>
        <div class="control-group span3">
          <%= f.label :women_percentage_course,t('.women_percentage_course'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :women_percentage_course, :class => 'input-small' %>
          </div>
        </div>
      </div>
      <hr>
      <p><h6><%= t('.how_much_cimpa_text') %></h6></p>
      <div class="row-fluid">
        <div class="control-group span3">
          <%= f.label :how_much_cimpa,t('.how_much_cimpa'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :how_much_cimpa, :class => 'input-small' %>
          </div>
        </div>
        <div class="control-group span3">
          <%= f.label :how_much_cimpa_percentage,t('.how_much_cimpa_percentage'), :class => 'control-label' %>
          <div class="controls">
            <%= f.number_field :how_much_cimpa_percentage, :class => 'input-small' %>
          </div>
        </div>
      </div>
      <hr>
      <div class="control-group">
        <%= f.label :young_people,t('.young_people'), :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :young_people, :class => 'input-small' %>
        </div>
      </div>
      <hr>
      <p><h6><%= t('.time_scientific_text') %></h6></p>
      <div class="row-fluid">
        <div class="control-group span3">
          <%= f.label t('.average_time_scientific'), :class => 'control-label' %>
          <div class="controls">
            <%= f.number_field :average_time_scientific, :class => 'input-small' %>
          </div>
        </div>
        <div class="control-group span3">
          <%= f.label :day_time_scientific,t('.day_time_scientific'), :class => 'control-label' %>
          <div class="controls">
            <%= f.number_field :day_time_scientific, :class => 'input-small' %>
          </div>
        </div>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="control-group span12">
          <%= f.label t('.comment'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :comment, :class => 'span12 text_area ' %>
          </div>
        </div>
      </div>
      <hr>
      <p><blockquote><h5><%= t('.notified_text') %></h5></blockquote></p>
      <p><blockquote><h5><%= t('.notified2_text') %></h5></blockquote></p>
      <div class="control-group">
        <%= f.label :confirmation_completely_read, t('.confirmation_completely_read_html'), :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :confirmation_completely_read %>
        </div>
      </div>
      <hr>
      <div class="field">
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
      <div class="form-actions">
        <%= f.submit t('save'), :class => 'btn btn-primary hand_writer' %>
        <%= link_to t('cancel', :default => t("helpers.links.cancel")), presentations_path, :class => 'btn hand_writer' %>
      </div>
    </fieldset>
  <% end %>
</div>
