<div class="nested-fields row-fluid" >
  <table class="table table-striped well table-condensed" >
    <tbody>
      <tr>
        <td class="span5">
          <%= f.text_area :description, :class => 'span12 text_area' %>
        </td>
        <td class="span1">
          <%= f.select :currency_id, Currency.all.map {|data| [data.symbol,data.id]}, {:prompt => true}, {:class => 'combobox'} %>
        </td>
        <td class="span2">
          <%= f.number_field :amount, :class => 'input-small' %>
        </td>
        <td class="span2">
          <%= f.select :provisional_type, ProvisionalBudget.provisional_type.values.map {|data| [t("enumerize.provisional_budget.#{data}"),data]}, {:prompt => true}, {:class => 'combobox'} %>
        </td>
        <td class="span2">
          <%= link_to_remove_association t('.remove'), f, :class => 'btn btn-danger btn-mini' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>