<div class="page-header">
  <h1><%=t '.title' %></h1>
  <div class="alert alert-success">
    <%= t '.preproposal_notice_html' %>
  </div>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="<%= 'active' unless current_user.has_role? :scientific_officer %>" ><a href="#home" role="tab" data-toggle="tab"><%= t '.proposals' %></a></li>
  <li class="<%= 'active' if current_user.has_role? :scientific_officer %>"><a href="#profile" role="tab" data-toggle="tab"><%= t '.preproposals' %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane <%= 'active' unless current_user.has_role? :scientific_officer %>" id="home">
    <%= render :partial => "proposals", :locals => {:presentations => @presentations, :edit_enabled => true , :destroy_enabled => true} %>
  </div>

  <div class="tab-pane <%= 'active' if current_user.has_role? :scientific_officer %>" id="profile">
    <%= render :partial => "proposals", :locals => {:presentations => @preproposals, :edit_enabled => false, :destroy_enabled => false} %>
  </div>
</div>
<%= link_to t('new'), new_presentation_path, :class => 'btn btn-primary' if open_new_presentations?%>
<%= link_to 'Export pre-proposals', url_for(:format => 'xls'), :class => 'btn btn-default' if (current_user.has_role? :scientific_officer) || (current_user.has_role? :admin)%>
