<div class="page-header">
  <h1 class="hand_writer_title"><%=t '.title' %></h1>
  <span class="label label-info"><%=t "states_#{@presentation.proposal_state}"%></span>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#proposal" role="tab" data-toggle="tab"><%= t '.proposal' %></a></li>
  <li><a href="#preproposal" role="tab" data-toggle="tab"><%= t '.preproposal' %></a></li>
  <li><a href="#finalproposal" role="tab" data-toggle="tab"><%= t '.finalproposal' %></a></li>
  <li><a href="#evaluation1" role="tab" data-toggle="tab"><%= t '.evaluation1' %></a></li>
  <li><a href="#evaluation2" role="tab" data-toggle="tab"><%= t '.evaluation2' %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="proposal">
    <%= render :partial => "show", :locals => {:proposal => @presentation} %>
    <div class="form-actions hand_writer">
      <%= link_to t('back', :default => t("helpers.links.back")),
                  presentations_path, :class => 'btn'  %>
      <% unless current_user.has_role? :scientific_officer %>
        <%= link_to t('edit', :default => t("helpers.links.edit")),
                    edit_presentation_path(@presentation), :class => 'btn'  if current_user.id == @presentation.user.id && open_final_presentations?%>
        <%= link_to t('pre_proposal'),
                    pre_proposal_path(@presentation), :class => 'btn'  if current_user.id == @presentation.user.id && open_pre_proposals? %>
        <%= link_to t('final_proposal'),
                    final_proposal_path(@presentation), :class => 'btn' if current_user.id == @presentation.user.id && open_final_presentations?%>
        <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                    presentation_path(@presentation),
                    :method => 'delete',
                    :data => { :confirm => t('confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger'  if current_user.id == @presentation.user.id && open_new_presentations?%>
      <% end %>
    </div>
  </div>

  <div class="tab-pane" id="preproposal">
    <% if @presentation.pre_proposal_date.nil? %>
      <h3><%= t '.pre_proposal_dont_set' %></h3>
    <% else %>
      <%= render :partial => "show", :locals => {:proposal => @presentation.version_at(@presentation.pre_proposal_date) }%>
    <% end %>
  </div>

  <div class="tab-pane" id="finalproposal">
    <% if @presentation.final_proposal_date.nil? %>
      <h3><%= t '.final_proposal_dont_set' %></h3>
    <% else %>
      <%= render :partial => "show", :locals => {:proposal => @presentation.version_at(@presentation.final_proposal_date)} %>
    <% end %>
  </div>
  <div class="tab-pane" id="evaluation1">
    <%= render :partial => "evaluation_form", :locals => {:evaluation => @presentation.evaluation1,
        :path_edit => edit_presentation_evaluation1_path(@presentation, @presentation.evaluation1),
        :path_new => new_presentation_evaluation1_path(@presentation)} %>
  </div>
  <div class="tab-pane" id="evaluation2">
    <%= render :partial => "evaluation_form", :locals => {:evaluation => @presentation.evaluation2,
        :path_edit => edit_presentation_evaluation2_path(@presentation, @presentation.evaluation2),
        :path_new => new_presentation_evaluation2_path(@presentation)} %>
  </div>
</div>


